.page-header {
  margin-bottom: 20px;
}

mat-card {
  margin-top: 20px;
  padding: 20px;
}

.full-width-table {
  width: 100%;
}

.mat-column-login_time {
  flex: 0 0 180px;
}

.mat-column-ip_address {
  flex: 0 0 150px;
}

.mat-column-status {
  flex: 0 0 100px;
}
