.page-header {
  margin-bottom: 20px;
}

mat-card {
  margin-top: 20px;
  padding: 20px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-mdc-paginator {
  margin-top: 16px;
}
